{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Django!</h1>
        <p>Página inicial do projeto.</p>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Estoque</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <th scope="row">{{ produto.id }}</th>

                        <!-- 
                        #modal -> Para cada produto, está sendo criado um link que abre um modal específico (ex: modal1, modal2, modal3)usando o id do produto.
                        Isso permite que cada produto tenha seu próprio modal de detalhes, gerado dinamicamente pelo Django.
                        
                        #modal -> Serve para exibir uma imagem do produto em um modal quando o nome do produto é clicado.
                                *O modal é um componente de interface do usuário que permite exibir informações adicionais sem sair da
                                *Essa ancora (<a>) com o atributo data-toggle="modal" indica que, ao clicar no nome do produto, o modal correspondente será aberto.
                                *data-toggle="modal" é um atributo do Bootstrap que ativa o modal quando o link é clicado.
                        
                        -->                        
                        <td scope="row"><a href="#modal{{produto.id}}" data-toggle="modal">{{ produto.nome }}</a></td>
                        <td scope="row">{{ produto.preco }}</td>
                        <td scope="row">{{ produto.estoque }}</td>
                    </tr>

                   
                {% endfor %}
            </tbody>
        </table>
            
   
            {% for produto in produtos %}
                        <!-- 
                            Esta div representa a janela modal do Bootstrap para exibir detalhes do produto.
                            Cada modal é gerado dinamicamente para cada produto, permitindo visualizar informações ou imagens sem sair da página principal.
                            -->
             <div class="modal fade" id="modal{{produto.id}}" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="dynamic-content">
                            <img src="{{produto.imagem.url}}" class="img-fluid" alt="{{ produto.nome }}">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

            </div>

        {% bootstrap_javascript jquery='full' %}
</body>
</html>